<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" style="color:red">
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :userName %>
    <%= form.text_field :userName %>
  </div>

  <div class="field">
    <%= form.label :passWord %>
    <%= form.text_field :passWord %>
  </div>

  <div class="field">
    <%= form.label :phoneNumber %>
    <%= form.text_field :phoneNumber %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
